* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-white: #fff;
  --color-secondary: #ec5242;
  --color-secondaryDeep: #e2220c;
  --color-lightblack: #272a31;
  --color-lightgrey: #d3d3d3;
  --color-black: #000;
}

body {
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}

li img {
  width: 30%;
  height: 30%;
}

.header {
  width: 100%;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  background-color: var(--color-white);
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
}

.microo a {
  color: var(--color-white);
}

.header .nav1 {
  display: none;
}

.header .head-all .menu {
  padding: 6px 14px 8px 14px;
  margin-left: 8px;
  font-size: 35px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--color-lightblack);
}


footer .foot-1 ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  padding: 30px;
}

.header .head-all ul {
  display: none;
}

.menu-sec {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  gap: 4px;
  background-color: var(--color-lightblack);
  -webkit-animation-name: menudisplay;
  animation-name: menuDisplay;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.menu-sec nav {
  padding-top: 70px;
  padding-left: 25px;
}

.menu-sec a h2 {
  padding: 14px 10px;
  color: var(--color-lightgrey);
}

.menu-sec .cancel {
  padding-right: 14px;
  font-size: 50px;
  color: var(--color-lightgrey);
}

@-webkit-keyframes menuDisplay {
  0% {
    transform: translateY(-60%) scaleY(0);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}

@keyframes menuDisplay {
  0% {
    transform: translateY(-60%) scaleY(0);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}

.sec1 {
  padding: 16px;
  background: linear-gradient(rgba(245, 244, 244, 0.9882352941), rgba(254, 255, 255, 0.8)), url(./images/background-image2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.para1 {
  color: var(--color-secondary);
  font-size: 1.5rem;
}

.title {
  width: 100%;
}

.main-title {
  width: 90%;
  color: var(--color-secondaryDeep);
  font-weight: bolder;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  margin: 8px;
  padding: 1rem 0 2.5rem 0;
}

.para2 {
  color: var(--color-lightblack);
  background-color: rgb(253, 253, 253);
  border: 2px solid #fff;
  line-height: 1.5rem;
  margin-top: 30px;
  font-weight: 500;
  padding: 2rem;
  display: flex;
  align-items: center;
}

.year {
  color: var(--color-black);
  font-size: 1.5rem;
  margin: 1.5rem 0 0 24px;
  font-weight: 900;
  background-color: var(--color-white);
}

.differ {
  margin: 10px 0 50px 24px;
  color: #272a31;
  background-color: var(--color-white);
}

.sec2 {
  background-color: #272a32;
  background-image: url(/images/pattern_bg.png);
  width: 100%;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}

.list {
  padding: 18px 8px 18px 14px;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 12px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.list i {
  font-size: 30px;
}

.list-header {
  color: var(--color-secondary);
  flex: 2;
}

.list-para {
  width: 100%;
  flex: 5;
  line-height: 1.5rem;
}

.join {
  background-color: var(--color-secondary);
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  text-align: center;
  align-items: center;
  margin-top: 1.6rem;
}

.join h3 {
  color: var(--color-white);
  font-size: 16px;
  word-spacing: 0.2rem;
  padding: 24px;
}

.sec3 {
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
}

.sec3 .speakers {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sec3 .speakers .guest {
  display: flex;
  -moz-column-gap: 16px;
  column-gap: 16px;
}

.sec3 .speakers .guest section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer .foot-last h3 {
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 30px 0;
}

footer .foot-last h3 small {
  display: none;
}

.sec3 .speakers .guest section h3 {
  align-self: flex-start;
}

.sec3 .speakers .guest section .p1 {
  width: 100%;
  font-size: 15px;
  color: var(--color-secondaryDeep);
}

.sec3 .speakers .guest section .p2 {
  font-size: 13px;
  color: var(--color-lightblack);
}


.about .about-sec1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.about .about-sec1 p a {
  display: block;
}

.about .about-sec1 p a b {
  color: var(--color-black);
}

.about .about-sec1 .about-title {
  color: var(--color-lightblack);
  font-size: 35px;
  padding-top: 30px;
}

.about .about-sec1 .logo img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 8rem;
  height: 5rem;
  margin: 50px 0;
}

footer .foot-last h2 {
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 30px 0;
}

.about .about-sec1 .mini-about {
  color: var(--color-lightblack);
  font-size: 35px;
  margin-top: 40px;
}

.about .about-sec1 .images-about {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: center;
  gap: 24px;
}

.about .about-sec1 .images-about .img-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 350px;
  align-self: center;
}

.about .about-sec1 .images-about .img-about h3 {
  align-self: center;
  color: var(--color-white);
  font-size: 30px;
}

footer .foot-last h2 big {
  display: flex;
}

.about .about-sec1 .images-about .img-about h3 big {
  display: block;
}

.about .about-sec1 .images-about .img-about h3 small {
  font-size: 19px;
  font-weight: 800;
}
